venv/
.venv/
__pycache__/
*.pyc
*.egg-info/
.vscode/
.env
data/*.pdf

./frontend/node_modules/
/frontend/package-lock.json
/frontend/package.json
/frontend/.next/

node_modules/
frontend/node_modules/
frontend/.next/
frontend/dist/
frontend/out/